body{
    background-color: rgb(23, 28, 75);
}

div h1{
    width: 200px;
}


.poster{
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px black;
}

.posterimg{
    width: 200px;
    height: 300px;
}

#poster1{
    background-color: rgb(95, 95, 212);
}

#poster2{
    background-color: rgb(95, 95,212);
}

#poster3{
    background-color: rgb(95, 95, 212);
}